<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Indrayaone | Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/logo/logo.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/login/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/static/login/css/fontawesome-all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/static/login/font/flaticon.css">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/login/style.css">

</head>

<body>
    <!-- header area start -->
    <header class="tp-header-area p-relative tp-header-height">
      <div class="tp-header-top tp-header-space d-none d-lg-block">
         <div class="container-fluid">
            <div class="row align-items-center">
               <div class="col-lg-8">
                  <div class="tp-header-top-info">
                     <ul>
                        <li>
                           <a href="tel:008757845682"><span><i class="flaticon-telephone-call"></i></span></a>
                        </li>
                        <li>
                           <a href="mailto:dhonihanif354@gmail.com"><span><i class="flaticon-mail"></i></span></a>
                        </li>
                        <li>
                           <a href="" target="_blank">
                           <span><i class="flaticon-location"></i></span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="tp-header-top-social text-lg-end text-xl-center text-xxl-end">
                     <span>Follow Us:</span>
                     <a href="https://twitter.com/DhoniHanif"><i class="fa-brands fa-twitter"></i></a>
                     <a href="https://www.linkedin.com/in/dhoni-hanif-supriyadi-6a93971bb/"><i class="fa-brands fa-linkedin"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="header-sticky" class="tp-header-bottom header__sticky p-relative grey-bg-3">
         <div class="tp-header-color"></div>
         <div class="tp-header-space p-relative z-index-1">
            <div class="tp-header-shape d-none d-xl-block">
               <img class="shape-1" src="/static/assets/img/testimonial/shpe-1.png" alt="">
               <img class="shape-2" src="/static/assets/img/testimonial/shpe-2.png" alt="">
            </div>
            <div class="container-fluid">
               <div class="row align-items-center">
                  <div class="col-6 col-lg-6 col-xl-2">
                     <div class="tp-header-logo tp-header-logo-border">
                        <a href="">
                           <img src="/static/assets/img/logo/logo.png" alt="">
                        </a>
                     </div>
                  </div>
                  <div class="col-xl-7 d-none d-xl-block">
                     <div class="tp-main-menu-area d-flex align-items-center pl-20">
                        <div class="tp-main-menu pl-45">
                           <nav id="tp-mobile-menu">
                              <ul>
                                 <li class="">
                                    <a href="/">Home</a>
                                    
                                 </li>
                                 <li> 
                                    <a href="/about">About</a>
                                 </li>
                                 <li class="has-dropdown"> <a href="/">Destination</a>
                                    <ul class="submenu">
                                       <li><a href="/destination/bali/bali">Bali</a></li>
                                       <li><a href="/destination/papua/papua">Papua</a></li>
                                       <li><a href="/destination/yogyakarta/yogyakarta">Yogyakarta</a></li>
                                       <li><a href="/destination/palembang/palembang">Palembang</a></li>
                                       <li><a href="/destination/sulawesi/sulawesi">Sulawesi</a></li>
                                       <li><a href="/destination/ntt/ntt">NTT</a></li>
                                       <li><a href="/destination/jakarta/jakarta">Jakarta</a>
                                    </ul>
                                 </li>
                                 <li class="has-dropdown"><a href="/">Statistics</a>
                                 <ul class="submenu">
                                    <li><a href="/statistics/bali">Bali</a></li>
                                    <li><a href="/statistics/papua">Papua</a></li>
                                    <li><a href="/statistics/yogyakarta">Yogyakarta</a></li>
                                    <li><a href="/statistics/palembang">Palembang</a></li>
                                    <li><a href="/statistics/sulawesi">Sulawesi</a></li>
                                    <li><a href="/statistics/ntt">NTT</a></li>
                                    <li><a href="/statistics/jakarta">Jakarta</a></li>
                                 </ul>
                                 </li>
                                 <li> <a href="/contact">Contact</a></li>
                                 {% if login %}
                                 <li> <a href="/profile/{{username}}">Profile</a></li>
                                 {% endif %}
                              </ul>
                           </nav>
                        </div>
                     </div>
                  </div>
                  <div class="col-6 col-lg-6 col-xl-3">
                     <div class="tp-header-right d-flex align-items-center justify-content-xxl-end">
                        <div class="tp-header-market mr-50 p-relative d-none d-xxl-block">
                           </div>
                           {% if login %}
                           <div class="tp-header-btn p-relative d-none d-xl-block">
                              <a class="tp-btn" href="/logout"><i class="fa-light fa-arrow-right"></i> Logout</a>
                           </div>
                           {% else %}
                           <div class="tp-header-btn p-relative d-none d-xl-block">
                              <a class="tp-btn" href="/login"><i class="fa-light fa-arrow-right"></i> Login</a>
                           </div>
                           {% endif %}
                           <div class="mobile-menu d-block d-xl-none text-end">
                              <button class="tp-side-action tp-toogle hamburger-btn">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                              </button>
                           </div>
                        </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
<!-- header area end -->

<!-- mobile menu style start -->
   <div class="tp-offcanvas-area fix">
   <div class="tp-side-info">
      <div class="tp-side-logo">
         <a href="/">
            <img src="/static/assets/img/logo/logo.png" alt="logo">
         </a>
      </div>
      <div class="tp-side-close">
         <button> <i class="fa-thin fa-xmark"></i></button>
      </div>
      <div class="tp-mobile-menu-pos"></div>
      <div class="tp-side-content p-relative">
         <div class="tp-sidebar__contact">
            <h4 class="tp-sidebar-title">Contact Info</h4>
            <ul>
               <li class="d-flex align-items-center">
                  <div class="tp-sidebar__contact-text">
                     <a target="_blank" href="https://www.google.com/maps/@-6.3008695,106.9101335,3a,75y,343.57h,66.98t/data=!3m6!1e1!3m4!1s6WqztY0bvgSZSK8E_nEEQg!2e0!7i16384!8i8192"><i class="fal fa-map-marker-alt"></i> Lubang Buaya, Jakarta, Indonesia.</a>
                  </div>
               </li>
               <li class="d-flex align-items-center">
                  <div class="tp-sidebar__contact-text">
                     <a href="telto:0895326168335"><i class="far fa-phone"></i> 0895326168335</a>
                  </div>
               </li>
               <li class="d-flex align-items-center">
                  <div class="tp-sidebar__contact-text">
                     <a href="mailto:dhonihanif@gmail.com"><i class="fal fa-envelope"></i> dhonihanif354@gmail.com</a>
                  </div>
               </li>
            </ul>
         </div>
         <div class="tp-sidebar-icons tp-btn-effect-blue">
            <a href="https://www.facebook.com/profile.php?id=100023804071745"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://twitter.com/DhoniHanif"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/dhoni-hanif-supriyadi-6a93971bb/"><i class="fa-brands fa-linkedin-in"></i></a>
         </div>
      </div>
   </div>
   <div class="offcanvas-overlay"></div>
   </div>
<!-- mobile menu style end -->
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="preloader" class="preloader">
        <div class='inner'>
            <div class='line1'></div>
            <div class='line2'></div>
            <div class='line3'></div>
        </div>
    </div>
    <section class="fxt-template-animation fxt-template-layout31">
        <span class="fxt-shape fxt-animation-active"></span>
        <div class="fxt-content-wrap">
            <div class="fxt-heading-content">
                <div class="fxt-inner-wrap">
                    <div class="fxt-transformY-50 fxt-transition-delay-3">
                        <a href="/login" class="fxt-logo"><img src="/static/login/img/logo-31.png" alt="Logo"></a>
                    </div>
                    <div class="fxt-transformY-50 fxt-transition-delay-4">
                        <h1 class="fxt-main-title">Indrayaone</h1>
                    </div>
                    <div class="fxt-login-option">
                        <ul>
                            <li class="fxt-transformY-50 fxt-transition-delay-6"><a href="#">Sign in with Google</a></li>
                            <li class="fxt-transformY-50 fxt-transition-delay-7"><a href="#">Sign in with Facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fxt-form-content">
                <div class="fxt-main-form">
                    <div class="fxt-inner-wrap">
                        <h2 class="fxt-page-title">Reset Password</h2>
                        <p class="fxt-description">Enter the email address or mobile number associated with your account.</p>
                        <form method="POST">
                            <label for="reset" class="fxt-label">Email or Mobile Number</label>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" id="reset" class="form-control" name="reset" placeholder="Email or Mobile Number" required="required">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <button type="submit" class="fxt-btn-fill">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="fxt-switcher-description">Return to?<a href="/login" class="fxt-switcher-text ms-1">Log in</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- jquery-->
    <script src="/static/login/js/jquery-3.5.0.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/login/js/bootstrap.min.js"></script>
    <!-- Imagesloaded js -->
    <script src="/static/login/js/imagesloaded.pkgd.min.js"></script>
    <!-- Validator js -->
    <script src="/static/login/js/validator.min.js"></script>
    <!-- Custom Js -->
    <script src="/static/login/js/main.js"></script>
    
</body>

</html>