<!DOCTYPE html>
<html>

<head>
    <title>Statistik</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h1>Statistik</h1>
    <div style="width: 75%;">
        <canvas id="myChart"></canvas>
    </div>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: JSON.parse('{{ tahun|tojson|safe }}'),
        datasets: [{
            label: 'Data',
            data: JSON.parse('{{ data|safe }}'),
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
                }]
            },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
        });
    </script>
</body>

</html>